.hextra-max-content-width {
  max-width: 850px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Matching Akita style for text */
.content {
  line-height: 1.75;
  font-size: 1.125rem;
  color: #333;
}

.dark .content {
  color: #e2e8f0;
}

header h1 {
  letter-spacing: -0.025em;
}
